<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>CR Covid</title>
  </head>
  <body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-12">
                    <h1 class="text-center">Andamento infezione Covid-19 Cremona</h1>
                    <canvas id="covid" width="400" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
var ctx = document.getElementById('covid').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
          {{ range . }}
            {{ .Date }},
          {{ end }}
          ],
        datasets: [
            {
            label: 'NumeroCasi',
            data: [
                {{ range . }}
                    {{ .NumeroCasi }},
                {{ end }}
                ],
            borderColor: 'rgb(255, 99, 132)',
            borderWidth: 1,
            fill: false
        },
        {
            label: 'Incremento Giornaliero',
            data: [
                {{ range . }}
                    {{ .DailyIncrement }},
                {{ end }}
                ],
            borderColor: 'rgb(1, 10, 255)',
            borderWidth: 1,
            fill: false
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
  </body>
</html>